




.app{
    color: #141414;

    &__header{
        margin-bottom: 200px;
    }


}


.title{
    font-family: 'OrchideaPro';
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
}